@import url(http://fonts.googleapis.com/css?family=Martel+Sans:200,900);

@import url(http://fonts.googleapis.com/css?family=Roboto:100);


body{
background-color: #f4f4f4 !important;

}
.submitbutton {
    padding:0;
    font-weight: bolder;

    padding:1em;
    background-color: transparent;
    border-color: transparent;
  }

.row{
    padding-left: 0px !important;
    left: 0px !important;
}

.nav{
font-size: 14pt !important;
}

  .submitbutton button::-moz-focus-inner {
    border: 0;
  }

html, body {
  height: 100%;
  margin: 0;
}

form{
	text-align: center;
}
.cont{
	padding:20px;
}

}



#padleft{

    top:0px !important;
}

input{
	color:black !important;
}

#red{color:red;}

#blue{color:indigo;}

#yellow{color:yellow;}

#green{color:green;}

#time{font-size:5pt; color:gray;}

#black{color:#009688;}

#psts{list-style-type: none;margin-left: -30px !important;}
