body{
background-color: #f4f4f4 !important;

}
.submitbutton {
    padding:0;
    font-weight: bolder;

    padding:1em;
    background-color: transparent;
    border-color: transparent;
  }

.row{
    padding-left: 0px !important;
    left: 0px !important;
}

.nav{
font-size: 14pt !important;
}

  .submitbutton button::-moz-focus-inner {
    border: 0;
  }

html, body {
  height: 100%;
  margin: 0;
}

form{
	text-align: center;
}
.cont{
	padding:20px;
}

}
input{
	color:black !important;
}

